<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <h4 class="col-xs-11">{{::$ctrl.title}}</h4>
        <div class="col-xs-1">
          <i style="margin-top: 10px; cursor: pointer"
             ng-click="$ctrl.addNewGroup()"
             class="glyphicon glyphicon-plus"></i>
        </div>
      </div>
      <div class="list-group">
        <a class="list-group-item"
           ui-sref="app.group({groupName: key})" ui-sref-active="active"
           ng-repeat="(key, val) in $ctrl.list track by key">
          <span class="badge">{{val.length}}</span>
          {{$ctrl.capitalizeFirstLetter(key)}}
        </a>
      </div>
    </div>
    <div class="col-sm-8">
      <div ui-view></div>
    </div>
  </div>
</div>
